
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  background-color: rgb(46, 43, 48); 

}
.contenedor-principal { 
  
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecera {
  display: flex;
  align-items: center;         
  justify-content: center;    
  gap: 10px;                   
  padding: 15px;
  background-color: #5a4b8a;   
  color: white;
  border-bottom: 2px solid #5a4b8a; 
  font-family: Helvetica;
}

.cabecera img {
  width: 60px;
  height: 60px;
}

.cabecera h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  color: #d8c6ff;
}

.espacio-de-chat {
  background-color: rgb(46, 43, 48);
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.mensaje-usuario {
  max-width: 70%;
  padding: 12px;
  border-radius: 1.5rem;
  margin: 8px;
  overflow-wrap: break-word;
  background-color: #5a4b8a;
  color: white;
  align-self: flex-end;
}

.mensaje-bot {
  max-width: 70%;
  padding: 12px;
  border-radius: 1.5rem;
  margin: 8px;
  overflow-wrap: break-word;
  background-color: #3a3a3a;
  color: #f0f0f0;
  align-self: flex-start;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.puntos-carga span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: #ccc;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

.puntos-carga span:nth-child(2) {
  animation-delay: 0.2s;
}

.puntos-carga span:nth-child(3) {
  animation-delay: 0.4s;
}

#interaccion {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 20px;  
  width: 100%;
  pointer-events: none;       
}

#interaccion .interior {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  background-color: #4d494e;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 1px solid #3f3a41;

  max-width: 800px;           
  width: 80%;               
  pointer-events: auto;
}

#entrada-texto {
  flex-grow: 1;
  max-width: 90%;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  background-color: rgb(60, 59, 61);
  color: white;
  border: 1px solid #6a5acd;
  height: 40px;
}

button {
  border: none;
  background-color: #6a5acd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  height: 40px;         
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

button:hover {
  background-color: #7b6df2;
  transform: scale(1.1);
}

button:active {
  background-color: #5c4ac7;
  transform: scale(0.95);
}

::-webkit-scrollbar {
    width: 10px;             
}

::-webkit-scrollbar-track {
    background: #1e1e1e;      
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #7b6dff, #5c4ac7); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #7b6dff, #5c4ac7);
}
